---
import brands from "./logos.data.json";
---

<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
      {
        brands &&
          brands.map((logo) => (
            <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
              <img class="h-12" src={logo.url} alt={logo.alt} />
            </div>
          ))
      }
    </div>
  </div>
</div>
