---
import Icon from 'astro-icon';
import Header from './Header.jsx';
---

<div>
  <Header client:visible>
    <Icon slot="logo" class="w-4/5 text-slate-900" name="reffy-logo" aria-label="Reffy.pro" />
  </Header>
</div>
